<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmDXV4Ov79HerQSc51L286jU_g4me_qNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>22976047519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finstagram</string>
	<key>PROJECT_ID</key>
	<string>finstagram-32ef6</string>
	<key>STORAGE_BUCKET</key>
	<string>finstagram-32ef6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22976047519:ios:e6373effc8a63c135df5aa</string>
</dict>
</plist>